body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #161616;
  color: #fff;
  /* and so the pain begins */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width:100vh) {
  body {
    flex-direction: column-reverse;
  }
}

.underline, .hover-underline:hover {
  /* Underline styles - details of technique here:
   * https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline
   */
  background: linear-gradient(to right, #004cff, #004cff);
  background-size: 100% 1px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size .2s;
}

aside {
  max-width: 48em;
  background-color: #323232;
  padding: 0.5em 1em;
  flex-grow: 2;
  overflow: auto;
} aside > div {
  padding: 1em 1em;
  margin: 1em 0;
  border-radius: 1rem;
  background-color: #282828;
} aside > div > h4 {
  position: relative;
  top: -0.25em;
  padding: 0 1rem 0rem 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 1.5em;
} aside > div > span {
  display: block;
  margin: 0.1em 0.6em;
  padding: 0 0.4em;
  cursor: pointer;
}
aside > div > span[option] { color: #808080; }
aside > div > span[option]:hover { font-style: italic; }
aside > div > span[option].active { color: #fff; }
aside > div > span[option]:before { content: '// '; color: #808080; }
aside > div > span[option].active:before { content: ''; }

aside > div > span[boolean]:hover { font-style: italic; }
aside > div > span[boolean].active { color: #fff; color: #80f080 }
aside > div > span[boolean]:after { content: ' = false'; color: #808080 }
aside > div > span[boolean].active:after { content: ' = true';  }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  flex-grow: 1;
} [render] {
  display: flex;
  flex-direction: column;
} [render] button {
  background-color: #0000;
  color: #fff;
  border: none;
  padding: 0.5em;
} [render] button:hover:not(.rendering) {
  background-size: 100% 4px;
}

canvas {
  width: 50vw;
  max-width: calc(75vh - 2em);
  background-color: #d0d0d0;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
                    linear-gradient(-45deg, #808080 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #808080 75%),
                    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
